{% block content_left %}
<article class="details-container c3">
    <h1 class="custom-subtitle">{{ title_detail }} {{ detalles_seccion.nom_seccion }}</h1>
    <form id="edit_form" action="{{ url_for('guardar_seccion', id_zona=detalles_seccion.id_zona) }}" method="post"
          enctype="multipart/form-data">
        <div class="horizontal-container">
            <div class="form-elements-container">
                <label for="edit_section_name" class="lbl-spacing">{{ label_name }}</label>
                <input id="edit_section_name" class="custom-input" type="text" name="edit_section_name"
                       autocomplete="off"
                       value="{{ detalles_seccion.nom_seccion }}" disabled>
            </div>

            <div class="form-elements-container">
                <label for="edit_id_svg" class="lbl-spacing">{{ label_svg_id }}</label>
                <input id="edit_id_svg" class="custom-input" type="text" name="edit_id_svg" autocomplete="off"
                       value="{{ detalles_seccion.id_svg }}" disabled>
            </div>

            <div class="form-elements-container">
                <label for="edit_capacity" class="lbl-spacing">{{ label_capacity }}</label>
                <input id="edit_capacity" class="custom-input" type="number" name="edit_capacity" autocomplete="off"
                       value="{{ detalles_seccion.aforo_seccion }}" disabled>
            </div>
            <div class="form-elements-container">
                <label class="lbl-spacing" for="edit_status">{{ label_status }}</label>
                <label class="switch">
                    <input id="edit_status" type="checkbox" name="edit_status" {% if detalles_seccion.opc_activo_seccion
                           %}
                           checked
                           {% endif %} disabled>
                    <span class="slider"></span>
                </label>
                <input type="hidden" id="edit_status_hidden" value="">
            </div>
            <input id="edit_button" class="save-button edit-button" type="submit" value="Guardar" disabled>
        </div>
    </form>
    <div>
        <button id="enable_edit_button" type="button" class="return-button">{{ button_edit }}</button>
    </div>
</article>

<article class="details-container">
    <div class="horizontal-container">
        <div class="form-elements-container">
            <label for="edit_num_filas" class="lbl-spacing">Filas:</label>
            <input id="edit_num_filas" class="custom-input" type="number" name="edit_num_filas"
                   autocomplete="off"
                   value="{{ detalles_seccion.num_filas }}">
        </div>

        <div class="form-elements-container">
            <label for="edit_num_columnas" class="lbl-spacing">Columnas:</label>
            <input id="edit_num_columnas" class="custom-input" type="number" name="edit_num_columnas" autocomplete="off"
                   value="{{ detalles_seccion.num_columnas }}">
        </div>
    </div>
</article>

<fieldset class="expandable-fieldset details-container">
    <div class="horizontal-container padre">
        <legend class="expandable-legend custom-subtitle">Numeración</legend>
        <img src="/static/images/chevron_down.svg" alt="icono" class="chevron-down-button derecha"
             onclick="toggleAnotherFieldset()">
    </div>
    <article id="anotherFieldsetContent">
        <form action="{{ url_for('editar_detalle_seccion', id_seccion=detalles_seccion.id_seccion) }}" method="post"
              enctype="multipart/form-data" class="details-container">
            <div class="horizontal-container">
                <div class="form-elements-container">
                </div>
            </div>
        </form>
    </article>
</fieldset>

<fieldset class="expandable-fieldset details-container">
    <div class="horizontal-container padre">
        <legend class="expandable-legend custom-subtitle">Posiciones</legend>
        <img src="/static/images/chevron_down.svg" alt="icono" class="chevron-down-button derecha"
             onclick="toggleAnotherFieldset()">
    </div>
    <article id="anotherFieldsetContent">
        <form action="{{ url_for('editar_detalle_seccion', id_seccion=detalles_seccion.id_seccion) }}" method="post"
              enctype="multipart/form-data" class="details-container">
            <div class="horizontal-container">
                <div class="form-elements-container">
                </div>
            </div>
        </form>
    </article>
</fieldset>

<fieldset class="expandable-fieldset details-container">
    <div class="horizontal-container padre">
        <legend class="expandable-legend custom-subtitle">Avanzado</legend>
        <img src="/static/images/chevron_down.svg" alt="icono" class="chevron-down-button derecha"
             onclick="toggleFieldset()">
    </div>
    <article id="fieldsetContent">
        <form action="{{ url_for('editar_detalle_seccion', id_seccion=detalles_seccion.id_seccion) }}" method="post"
              enctype="multipart/form-data" class="details-container">

            <div class="horizontal-container">
                <div class="form-elements-container">
                    <label for="edit_svg_width" class="lbl-spacing">Ancho</label>
                    <input id="edit_svg_width" class="custom-input" type="number" name="edit_svg_width"
                           autocomplete="off"
                           value="{{ detalles_seccion.ancho_svg }}">
                </div>
                <div class="form-elements-container">
                    <label for="edit_svg_height" class="lbl-spacing">Alto</label>
                    <input id="edit_svg_height" class="custom-input" type="number" name="edit_svg_height"
                           autocomplete="off"
                           value="{{ detalles_seccion.alto_svg }}">
                </div>
                <div class="form-elements-container">
                    <label class="lbl-spacing" for="edit_axis">Orientación:</label>
                    <label class="switch">
                        <input id="edit_axis" type="checkbox" name="edit_axis" {% if
                               detalles_seccion.orientacion_distribucion %} checked {% endif %}>
                        <span class="slider"></span>
                    </label>
                    <input type="hidden" id="edit_axis_hidden" value="">
                </div>
            </div>

            <div class="horizontal-container">
                <div class="form-elements-container">
                    <label for="edit_theater_name" class="lbl-spacing">Nombre escenario:</label>
                    <input id="edit_theater_name" class="custom-input" type="text" name="edit_theater_name"
                           autocomplete="off"
                           value="{{ detalles_seccion.nombre_escenario }}">
                </div>
                <div class="form-elements-container">
                    <label class="lbl-spacing" for="edit_alignment">Alineación:</label>
                    <label class="switch">
                        <input id="edit_alignment" type="checkbox" name="edit_alignment" {% if
                               detalles_seccion.orientacion_escenario
                               %} checked {% endif %}>
                        <span class="slider"></span>
                    </label>
                    <input type="hidden" id="edit_alignment_hidden" value="">
                </div>
            </div>

            <div class="horizontal-container">
                <div class="form-elements-container">
                    <label for="edit_initial_position_x" class="lbl-spacing">Posición inicial X</label>
                    <input id="edit_initial_position_x" class="custom-input" type="number"
                           name="edit_initial_position_x"
                           autocomplete="off"
                           value="{{ detalles_seccion.posicion_inicial_x }}">
                </div>

                <div class="form-elements-container">
                    <label for="edit_initial_position_y" class="lbl-spacing">Posición inicial Y:</label>
                    <input id="edit_initial_position_y" class="custom-input" type="number"
                           name="edit_initial_position_y" autocomplete="off"
                           value="{{ detalles_seccion.posicion_inicial_y }}">
                </div>

                <div class="form-elements-container">
                    <label for="edit_line_spacing" class="lbl-spacing">Inter:</label>
                    <input id="edit_line_spacing" class="custom-input" type="number" name="edit_line_spacing"
                           autocomplete="off"
                           value="{{ detalles_seccion.incremento_interlineado }}">
                </div>
            </div>

            <div class="horizontal-container">

                <div class="form-elements-container">
                    <label for="edit_position_increment_x" class="lbl-spacing">Incremento X:</label>
                    <input id="edit_position_increment_x" class="custom-input" type="number"
                           name="edit_position_increment_x" autocomplete="off"
                           value="{{ detalles_seccion.incremento_x }}">
                </div>

                <div class="form-elements-container">
                    <label for="edit_position_increment_y" class="lbl-spacing">Incremento Y:</label>
                    <input id="edit_position_increment_y" class="custom-input" type="number"
                           name="edit_position_increment_y" autocomplete="off"
                           value="{{ detalles_seccion.incremento_y }}">
                </div>

                <div class="form-elements-container">
                    <label for="edit_seat_form" class="lbl-spacing">Forma asiento:</label>
                    <select id="edit_seat_form" name="edit_seat_form" class="custom-input">
                        <option value="{{detalles_seccion.forma_asiento}}">{{detalles_seccion.forma_asiento}}</option>
                    </select>
                </div>

            </div>
            <input class="save-button" type="submit" value="{{ button_save }}">
        </form>
    </article>
</fieldset>

<a id="return_button"
   href="{{ url_for('detalle_zonas', id_zona=detalles_seccion.id_zona) }}"
   class="custom-button">
    <i class="fas fa-arrow-left"></i></a>

{% endblock %}
