{% block content %}
<div>
    <div class="table-container">
        <table id="theater_sections_table" class="styled-table theater-section">
            <thead class="c-th">
                <tr>
                    <th class="column-id">{{ header_id }}</th>
                    <th class="column-name">{{ header_name }}</th>
                    <th class="column-id-svg">{{ header_id_svg }}</th>
                    <th class="column-capacity">{{ header_capacity }}</th>
                    <th class="column-status">{{ header_status }}</th>
                    <th class="column-config">{{ header_config }}</th>
                </tr>
            </thead>
            <tbody>
                {% for seccion in data.secciones %}
                <tr>
                    <td>{{ seccion[0] }}</td>
                    <td>{{ seccion[1] }}</td>
                    <td>{{ seccion[2] }}</td>
                    <td>{{ seccion[3] }}</td>
                    <td>{{ seccion[6] }}</td>
                    <td>
                        <form method="get"
                            action="{{ url_for('sections.detalle_seccion_route', id_seccion=seccion[0]) }}">
                            <button type="submit" class="config-button">
                                <i class="fas fa-cog"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {{ data.pagination.links }}
    </div>
</div>
{% endblock %}