sonar-project.properties
/.scannerwork/

/venv
/env
/virtual
/.venv
/.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

*.egg-info/
/.eggs/
/build/
/dist/
/downloads/
/lib/
/lib64/
/parts/
/sdist/
/var/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

.env
.env.*
!.env.example

logs/
*.log
*.sql
*.sqlite3

.ipynb_checkpoints