@import '../utils/colors.css';

.app-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding: 0 1em 1em 1em;
    background-color: var(--color-primary);
    /* gap: 1em; */
}

.app-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.custom-sidebar {
    width: 10%;
    padding: 0.5em;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background-color: #323437;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .sidebar-toggle {
        background-color: transparent;
        border: none;
        padding: 0.5em;
        cursor: pointer;
        margin-left: 6.25px;
    }

    .sidebar-icon {
        font-size: 22px;
        color: var(--color-text);
    }

    &.collapsed {
        width: 3.5%;
        align-items: center;

        .sidebar-toggle {
            margin-left: initial;
        }
    }
}

.s-details-container {
    display: flex;
    border-radius: 1em;
    width: 100%;
    height: calc(100% - 64px);
    padding: 1em;
    flex-direction: column;
    background-color: var(--color-secondary);
    gap: 1em;

    img {
        width: 100%;
        height: 100%;
        margin: 0;
        object-fit: contain;
        padding: 1em;
        border-radius: 1em;
    }
}

.s-details-container-left {
    display: flex;
    border-radius: 1em;
    width: 50%;
    height: 100%;
    padding: 1em;
    flex-direction: column;
    background-color: var(--color-secondary);
    gap: 1em;
}

.s-details-container-right {
    display: flex;
    border-radius: 1em;
    width: 50%;
    height: 100%;
    padding: 1em;
    flex-direction: column;
    background-color: var(--color-secondary);
    overflow: hidden;
    gap: 1em;
}

.s-details-container-right svg {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
    padding: 1em;
    background-color: var(--color-background-svg);
    border-radius: 1em;
}

.s-details-container-right img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
    padding: 1em;
    background-color: var(--color-background-svg);
    border-radius: 1em;
}

.s-details-container-right iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
    border-radius: 1em;
}

.details-container {
    width: 100%;
    height: 64px;
    border-radius: 1em;
    padding: 0.75em;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 0.75em;
    justify-content: center;
}

.horizontal-container {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 1em;
}

.form-elements-container {
    display: inline-flex;
    align-items: center;
}

.table-container {
    border-radius: 1em;
    overflow: hidden;
    /* overflow: visible; */
    border: 1px solid #202122;
    gap: 1em;
}

.vertical-simple-container {
    flex-direction: column;
    align-items: center;
}

.preview-container {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    overflow: hidden;
    /* Oculta cualquier contenido que pueda desbordar */
}

.preview-container img {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
    /* Ajusta el contenido para que quepa completamente sin recortes */
}

.expandable-fieldset {
    border: none;
    background-color: #28292a;
}


.expandable-fieldset #fieldsetContent {
    display: none;
}

.expandable-fieldset #anotherFieldsetContent {
    display: none;
}

.expandable-legend {
    cursor: default;
    text-align: center;
    /* Centrar el texto */
}

.padre {
    position: relative;
    align-items: row;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.derecha {
    position: absolute;
    right: 0;
}