{% block content %}
<div>
    <div class="table-container">
        <table id="theater_versions_table" class="styled-table theater-version">
            <thead class="c-th">
                <tr>
                    <th class="column-id">{{ header_id }}</th>
                    <th class="column-name">{{ header_name }}</th>
                    <th class="column-date">{{ header_creation_date }}</th>
                    <th class="column-config">{{ header_config }}</th>
                </tr>
            </thead>
            <tbody>
                {% for version in pag_v.versiones %}
                <tr>
                    <td>{{ version[0] }}</td>
                    <td>{{ version[2] }}</td>
                    <td>{{ version[4] }}</td>
                    <td>
                        <form method="get"
                            action="{{ url_for('versions.detalle_version_route', version_id=version[0]) }}">
                            <button type="submit" class="config-button">
                                <i class="fas fa-cog"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        {{ pag_v.pagination.links }}
    </div>
</div>
{% endblock %}