@import '../utils/colors.css';

.save-button {
    background-color: #234e89;
    color: #c7c8c9;
    width: auto;
    padding: 0.25em 1em;
    border: none;
    border-radius: 2em;
    cursor: pointer;

    &:hover {
        background-color: #326fc3;
    }
}

.custom-button {
    position: absolute;
    top: 3em;
    left: 3em;
    color: #c7c8c9;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-hover);
    }
}

.edit-button {
    display: none;

    &.edit-button-visible {
        display: inline-block;
    }
}



.config-button {
    background-color: #28292a;
    color: #c7c8c9;
    width: 2em;
    padding: 0.25em;
    border: none;
    border-radius: 2em;

    &:hover {
        background-color: var(--color-button-hover);
    }
}

.return-button {
    display: inline-block;
    padding: 0.35em 1em;
    background-color: #234e89;
    color: #c7c8c9;
    text-decoration: none;
    border-radius: 2em;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #326fc3;
    }
}

.download-button {
    display: inline-block;
    padding: 0.25em 1em;
    background-color: #234e89;
    color: #c7c8c9;
    text-decoration: none;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #326fc3;
    }
}


.chevron-down-button {
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-hover);
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: #c7c8c9;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
        overflow: hidden;
        border-radius: 2em;
        width: 2em;
        top: calc(100% + 0.5em);

        /* Posición debajo del botón */
        a {
            color: #1f1f1f;
            padding: 8px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }

    .show {
        display: block;
    }
}