@import '../utils/colors.css';

.custom-title {
  color: var(--color-title);
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;
}

.custom-subtitle {
  color: var(--color-title);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}