<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    {% for stylesheet in [
    'components/buttons.css',
    'layout/layout.css',
    'main.css',
    'components/inputs.css',
    'components/labels.css',
    'components/modals.css',
    'components/tables.css',
    'components/titles.css',
    'components/sidebar.css',
    'utils/colors.css'
    ] %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/' + stylesheet) }}">
    <link rel="icon" href="{{ url_for('static', filename='images/test_image.svg') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% endfor %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{ title_system }}</title>
</head>

<body>
    <div class="app-container">
        {% include 'sidebar.html' %}
        <div class="app-content flex-column">
            {% include 'header.html' %}

            {% block page_content %}{% endblock %}

        </div>
    </div>

    <div id="notification-container">
        {% block notifications %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="floating-notification">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script>
        const toggleSidebarBtn = document.getElementById('toggle-sidebar-btn');
        const sidebar = document.getElementById('sidebar');

        toggleSidebarBtn.addEventListener('click', () => {
            sidebar.classList.toggle('collapsed');
        });
    </script>
</body>

</html>