{% block content %}
<div class="details-container c3">
    <h2 class="custom-subtitle">{{ title_create_theater }}</h2>
    {# La acción original era "/guardar". Ahora usamos url_for. #}
    <form action="{{ url_for('theater.guardar_recinto_route') }}" method="post" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="horizontal-container">
            <div class="form-elements-container">
                <label for="name" class="lbl-spacing">{{ label_name }}</label>
                <input id="name" type="text" name="name" placeholder="{{ placeholder_name }}" class="custom-input"
                    required>
            </div>
            <div class="form-elements-container">
                <label for="address" class="lbl-spacing">{{ label_address }}</label>
                <input id="address" type="text" name="address" placeholder="{{ placeholder_address }}"
                    class="custom-input" required>
            </div>
            <div class="form-elements-container">
                <label for="map" class="lbl-spacing">{{ label_map }}</label>
                <input id="map" type="text" name="map" placeholder="{{ placeholder_map }}" class="custom-input"
                    required>
            </div>
            <input type="submit" value="{{ button_save }}" class="save-button">
        </div>
    </form>
</div>
{% endblock %}
